In [1]:
import pandas as pd 
import warnings
warnings.filterwarnings('ignore')
import pylab as plt
%matplotlib inline
import numpy as np
import umap
import statsmodels.api as sm
import seaborn as sns
import pickle
import regex as re

from sklearn.manifold import TSNE
from sklearn.preprocessing import StandardScaler, MinMaxScaler  # normalizacion
from sklearn.decomposition import PCA    # PCA
from sklearn.datasets import load_boston
from sklearn.linear_model import LogisticRegression            # clasificar, logistic regression model   
from sklearn.preprocessing import StandardScaler               # standarized
from sklearn.preprocessing import LabelEncoder               
from sklearn.model_selection import train_test_split as tts    # split data into train and test sets
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.metrics import r2_score as r2
from sklearn.metrics import mean_squared_error as mse  # error cuadratico medio
from sklearn.metrics import mean_absolute_error as mae  # estos alias tmb son cosa mia
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression            # logistic regression model  
from sklearn.metrics import accuracy_score as acc
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import precision_score as prec
from sklearn.metrics import recall_score as rec
from sklearn.metrics import f1_score as f1
from sklearn.metrics import confusion_matrix as cm
from sklearn.ensemble import RandomForestRegressor as RFR    # el modelo , el alias es cosa mia
from sklearn.datasets import load_diabetes   # dataset
from sklearn.datasets import load_iris

In [2]:
salaries = pd.read_csv('../data/salaries_data.csv')

In [3]:
salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2022,SE,FT,Data Engineer,140250,USD,140250,US,100,US,M
1,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
2,2021,MI,FT,BI Data Analyst,100000,USD,100000,US,100,US,M
3,2021,MI,CT,ML Engineer,270000,USD,270000,US,100,US,L
4,2021,MI,FT,Data Engineer,22000,EUR,26005,RO,0,US,L

In [4]:
salaries.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [5]:
salaries.company_location.unique()

array(['US', 'FR', 'GR', 'LU', 'SI', 'DE', 'IN', 'GB', 'PK', 'MD', 'JP',
       'CA', 'AS', 'IE', 'AE', 'MX', 'VN', 'BE', 'KE', 'ES', 'CH', 'CL',
       'CN', 'DK', 'TR', 'NZ', 'PL', 'UA', 'AU', 'NG', 'EE', 'CZ', 'AT',
       'BR', 'DZ', 'IR', 'NL', 'HU', 'PT', 'HN', 'MT', 'RO', 'SG'],
      dtype=object)

In [6]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           500 non-null    int64
 1   experience_level    500 non-null    object
 2   employment_type     500 non-null    object
 3   job_title           500 non-null    object
 4   salary              500 non-null    int64
 5   salary_currency     500 non-null    object
 6   salary_in_usd       500 non-null    int64
 7   employee_residence  500 non-null    object
 8   remote_ratio        500 non-null    int64
 9   company_location    500 non-null    object
 10  company_size        500 non-null    object
dtypes: int64(4), object(7)
memory usage: 43.1+ KB

In [7]:
print(salaries.isnull().sum())

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [8]:
#Eliminamos distintas columnas que no van a ser muy útiles para el análisis

In [9]:
salaries = salaries.drop(['salary_currency', 'salary','remote_ratio', 'company_location', 'work_year'], axis=1)

In [10]:
salaries.head()

,experience_level,employment_type,job_title,salary_in_usd,employee_residence,company_size
0,SE,FT,Data Engineer,140250,US,M
1,SE,FT,Data Engineer,135000,US,M
2,MI,FT,BI Data Analyst,100000,US,M
3,MI,CT,ML Engineer,270000,US,L
4,MI,FT,Data Engineer,26005,RO,L

In [11]:
salaries.columns

Index(['experience_level', 'employment_type', 'job_title', 'salary_in_usd',
       'employee_residence', 'company_size'],
      dtype='object')

In [12]:
salaries.experience_level.unique()

array(['SE', 'MI', 'EN', 'EX'], dtype=object)

In [13]:
salaries.employment_type.unique()

array(['FT', 'CT', 'FL', 'PT'], dtype=object)

In [14]:
salaries.job_title.unique()   #Valuecounts

array(['Data Engineer', 'BI Data Analyst', 'ML Engineer',
       'Machine Learning Scientist', 'Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Principal Data Scientist',
       'Data Engineering Manager', 'Data Analytics Manager',
       'Big Data Engineer', 'Research Scientist',
       'Machine Learning Developer', 'Computer Vision Engineer',
       'AI Scientist', 'Machine Learning Manager', 'Lead Data Scientist',
       'Director of Data Science', '3D Computer Vision Researcher',
       'Data Specialist', 'Applied Data Scientist',
       'Data Science Engineer', 'Head of Data', 'Analytics Engineer',
       'ETL Developer', 'Marketing Data Analyst', 'Data Architect',
       'Data Science Consultant', 'Principal Data Analyst',
       'Head of Data Science', 'Lead Data Engineer',
       'Data Science Manager', 'Applied Machine Learning Scientist',
       'Lead Data Analyst', 'Cloud Data Engineer',
       'Lead Machine Learning Engineer',
       'Machine Learning Infrastructure Engineer', 'Big Data Architect',
       'Product Data Analyst', 'Business Data Analyst',
       'Director of Data Engineering', 'Data Analytics Lead',
       'Financial Data Analyst', 'Finance Data Analyst',
       'Head of Machine Learning', 'Staff Data Scientist',
       'Data Analytics Engineer', 'Computer Vision Software Engineer'],
      dtype=object)

In [15]:
salaries['job_title'] = salaries['job_title'].str.replace(r'.*Data.*', 'Data', regex=True)\
                                             .str.replace(r'.*Engineer.*', 'Engineer', regex=True)\
                                             .str.replace(r'.*Machine Learning.*', 'Machine Learning', regex=True)\
                                             .str.replace(r'.*ETL Developer.*', 'Data', regex=True)\
                                             .str.replace(r'.*AI Scientist.*', 'Other', regex=True)\
                                             .str.replace(r'.*3D Computer Vision Researcher.*', 'Other', regex=True)\
                                             .str.replace(r'.*Research Scientist.*', 'Other', regex=True)

In [16]:
salaries.job_title.unique()   #Valuecounts

array(['Data', 'Engineer', 'Machine Learning', 'Other'], dtype=object)

In [17]:
dictio = {'Data':0 , 'Engineer':1, 'Machine Learning':2,'Other':3}
salaries.job_title=salaries.job_title.apply(lambda x: dictio[x])

In [18]:
salaries['employee_residence'].value_counts()

US    278
GB     38
IN     25
CA     24
DE     19
FR     14
ES     13
GR     11
PK      6
PT      6
BR      5
NL      4
JP      4
VN      3
PL      3
AT      3
TR      3
AE      3
RO      2
BE      2
NG      2
AU      2
RU      2
IT      2
SI      2
MY      1
BO      1
HN      1
IE      1
MT      1
HU      1
RS      1
MD      1
IR      1
LU      1
DZ      1
MX      1
PR      1
CZ      1
EE      1
HK      1
BG      1
UA      1
NZ      1
JE      1
CL      1
CH      1
KE      1
SG      1
Name: employee_residence, dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
salaries['employee_residence'] = le.fit_transform(salaries['employee_residence'])

In [20]:
salaries.head()

,experience_level,employment_type,job_title,salary_in_usd,employee_residence,company_size
0,SE,FT,0,140250,47,M
1,SE,FT,0,135000,47,M
2,MI,FT,0,100000,47,M
3,MI,CT,1,270000,47,L
4,MI,FT,0,26005,40,L

In [21]:
salaries = pd.get_dummies(salaries, columns=['experience_level','employment_type', 'company_size'], drop_first=True)

In [22]:
salaries = salaries.drop(['employment_type_FL'], axis=1)

In [24]:
X=salaries[['job_title','employee_residence','experience_level_EX','experience_level_MI','experience_level_SE','employment_type_FT','employment_type_PT','company_size_M','company_size_S']]
y=salaries['salary_in_usd']

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
salaries = scaler.fit_transform(X)

In [27]:
from sklearn.model_selection import train_test_split as tts
X_train, X_test, y_train, y_test  = tts(X, y, train_size=0.8, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((400, 9), (100, 9), (400,), (100,))

In [28]:
#pip install lazypredict

Requirement already satisfied: lazypredict in c:\users\pedro vidales\anaconda3\lib\site-packages (0.2.12)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: xgboost in c:\users\pedro vidales\anaconda3\lib\site-packages (from lazypredict) (1.7.4)
Requirement already satisfied: scikit-learn in c:\users\pedro vidales\anaconda3\lib\site-packages (from lazypredict) (1.0.2)
Requirement already satisfied: lightgbm in c:\users\pedro vidales\anaconda3\lib\site-packages (from lazypredict) (3.3.5)
Requirement already satisfied: tqdm in c:\users\pedro vidales\anaconda3\lib\site-packages (from lazypredict) (4.64.1)
Requirement already satisfied: pandas in c:\users\pedro vidales\anaconda3\lib\site-packages (from lazypredict) (1.4.4)
Requirement already satisfied: joblib in c:\users\pedro vidales\anaconda3\lib\site-packages (from lazypredict) (1.1.0)
Requirement already satisfied: click in c:\users\pedro vidales\anaconda3\lib\site-packages (from lazypredict) (8.0.4)
Requirement already satisfied: colorama in c:\users\pedro vidales\anaconda3\lib\site-packages (from click->lazypredict) (0.4.5)
Requirement already satisfied: numpy in c:\users\pedro vidales\anaconda3\lib\site-packages (from lightgbm->lazypredict) (1.21.5)
Requirement already satisfied: wheel in c:\users\pedro vidales\anaconda3\lib\site-packages (from lightgbm->lazypredict) (0.37.1)
Requirement already satisfied: scipy in c:\users\pedro vidales\anaconda3\lib\site-packages (from lightgbm->lazypredict) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\pedro vidales\anaconda3\lib\site-packages (from scikit-learn->lazypredict) (2.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pedro vidales\anaconda3\lib\site-packages (from pandas->lazypredict) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pedro vidales\anaconda3\lib\site-packages (from pandas->lazypredict) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\pedro vidales\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->lazypredict) (1.16.0)

In [29]:
from lazypredict.Supervised import LazyRegressor
lazy=LazyRegressor()
lazy.fit(X_train, X_test, y_train, y_test)

100%|██████████| 42/42 [00:02<00:00, 15.18it/s]

(                               Adjusted R-Squared  R-Squared      RMSE  \
 Model
 LGBMRegressor                                0.37       0.43  47264.94
 GradientBoostingRegressor                    0.36       0.42  47537.19
 HistGradientBoostingRegressor                0.36       0.42  47739.82
 RandomForestRegressor                        0.35       0.41  47973.56
 ExtraTreesRegressor                          0.35       0.41  48066.81
 XGBRegressor                                 0.34       0.40  48556.47
 BaggingRegressor                             0.34       0.40  48627.22
 DecisionTreeRegressor                        0.33       0.39  48778.54
 ExtraTreeRegressor                           0.30       0.36  50008.10
 PassiveAggressiveRegressor                   0.29       0.35  50307.93
 LarsCV                                       0.26       0.33  51254.83
 LassoLarsCV                                  0.26       0.33  51254.83
 HuberRegressor                               0.26       0.33  51277.15
 LassoCV                                      0.25       0.32  51498.93
 OrthogonalMatchingPursuitCV                  0.25       0.32  51590.76
 KNeighborsRegressor                          0.24       0.31  51895.31
 ElasticNet                                   0.24       0.31  51941.08
 BayesianRidge                                0.24       0.31  52111.61
 RidgeCV                                      0.24       0.31  52138.80
 Ridge                                        0.23       0.30  52382.88
 LassoLars                                    0.23       0.30  52391.31
 Lasso                                        0.23       0.30  52414.04
 LassoLarsIC                                  0.23       0.30  52415.24
 Lars                                         0.23       0.30  52415.24
 LinearRegression                             0.23       0.30  52415.24
 TransformedTargetRegressor                   0.23       0.30  52415.24
 SGDRegressor                                 0.23       0.30  52420.60
 PoissonRegressor                             0.22       0.29  52624.22
 GammaRegressor                               0.21       0.29  52869.04
 TweedieRegressor                             0.21       0.28  53118.14
 OrthogonalMatchingPursuit                    0.18       0.25  54164.02
 RANSACRegressor                              0.17       0.24  54378.75
 AdaBoostRegressor                            0.02       0.11  58901.68
 ElasticNetCV                                -0.07       0.03  61696.37
 NuSVR                                       -0.10      -0.00  62587.80
 DummyRegressor                              -0.10      -0.00  62674.87
 QuantileRegressor                           -0.12      -0.02  63040.70
 SVR                                         -0.12      -0.02  63052.33
 KernelRidge                                 -3.09      -2.71 120563.98
 LinearSVR                                   -3.47      -3.06 126076.52
 MLPRegressor                                -3.49      -3.08 126367.84
 GaussianProcessRegressor                   -24.35     -22.05 300312.49

                                Time Taken
 Model
 LGBMRegressor                        0.07
 GradientBoostingRegressor            0.06
 HistGradientBoostingRegressor        0.21
 RandomForestRegressor                0.18
 ExtraTreesRegressor                  0.13
 XGBRegressor                         0.10
 BaggingRegressor                     0.03
 DecisionTreeRegressor                0.02
 ExtraTreeRegressor                   0.02
 PassiveAggressiveRegressor           0.04
 LarsCV                               0.02
 LassoLarsCV                          0.02
 HuberRegressor                       0.02
 LassoCV                              0.09
 OrthogonalMatchingPursuitCV          0.01
 KNeighborsRegressor                  0.01
 ElasticNet                           0.01
 BayesianRidge                        0.04
 RidgeCV                              0.01
 Ridge                                0.01
 LassoLars                            0.01
 Lasso                                0.00
 LassoLarsIC                          0.02
 Lars                                 0.01
 LinearRegression                     0.01
 TransformedTargetRegressor           0.01
 SGDRegressor                         0.02
 PoissonRegressor                     0.00
 GammaRegressor                       0.02
 TweedieRegressor                     0.00
 OrthogonalMatchingPursuit            0.01
 RANSACRegressor                      0.06
 AdaBoostRegressor                    0.03
 ElasticNetCV                         0.07
 NuSVR                                0.02
 DummyRegressor                       0.01
 QuantileRegressor                    0.94
 SVR                                  0.03
 KernelRidge                          0.02
 LinearSVR                            0.01
 MLPRegressor                         0.36
 GaussianProcessRegressor             0.01  ,
                                Adjusted R-Squared  R-Squared      RMSE  \
 Model
 LGBMRegressor                                0.37       0.43  47264.94
 GradientBoostingRegressor                    0.36       0.42  47537.19
 HistGradientBoostingRegressor                0.36       0.42  47739.82
 RandomForestRegressor                        0.35       0.41  47973.56
 ExtraTreesRegressor                          0.35       0.41  48066.81
 XGBRegressor                                 0.34       0.40  48556.47
 BaggingRegressor                             0.34       0.40  48627.22
 DecisionTreeRegressor                        0.33       0.39  48778.54
 ExtraTreeRegressor                           0.30       0.36  50008.10
 PassiveAggressiveRegressor                   0.29       0.35  50307.93
 LarsCV                                       0.26       0.33  51254.83
 LassoLarsCV                                  0.26       0.33  51254.83
 HuberRegressor                               0.26       0.33  51277.15
 LassoCV                                      0.25       0.32  51498.93
 OrthogonalMatchingPursuitCV                  0.25       0.32  51590.76
 KNeighborsRegressor                          0.24       0.31  51895.31
 ElasticNet                                   0.24       0.31  51941.08
 BayesianRidge                                0.24       0.31  52111.61
 RidgeCV                                      0.24       0.31  52138.80
 Ridge                                        0.23       0.30  52382.88
 LassoLars                                    0.23       0.30  52391.31
 Lasso                                        0.23       0.30  52414.04
 LassoLarsIC                                  0.23       0.30  52415.24
 Lars                                         0.23       0.30  52415.24
 LinearRegression                             0.23       0.30  52415.24
 TransformedTargetRegressor                   0.23       0.30  52415.24
 SGDRegressor                                 0.23       0.30  52420.60
 PoissonRegressor                             0.22       0.29  52624.22
 GammaRegressor                               0.21       0.29  52869.04
 TweedieRegressor                             0.21       0.28  53118.14
 OrthogonalMatchingPursuit                    0.18       0.25  54164.02
 RANSACRegressor                              0.17       0.24  54378.75
 AdaBoostRegressor                            0.02       0.11  58901.68
 ElasticNetCV                                -0.07       0.03  61696.37
 NuSVR                                       -0.10      -0.00  62587.80
 DummyRegressor                              -0.10      -0.00  62674.87
 QuantileRegressor                           -0.12      -0.02  63040.70
 SVR                                         -0.12      -0.02  63052.33
 KernelRidge                                 -3.09      -2.71 120563.98
 LinearSVR                                   -3.47      -3.06 126076.52
 MLPRegressor                                -3.49      -3.08 126367.84
 GaussianProcessRegressor                   -24.35     -22.05 300312.49

                                Time Taken
 Model
 LGBMRegressor                        0.07
 GradientBoostingRegressor            0.06
 HistGradientBoostingRegressor        0.21
 RandomForestRegressor                0.18
 ExtraTreesRegressor                  0.13
 XGBRegressor                         0.10
 BaggingRegressor                     0.03
 DecisionTreeRegressor                0.02
 ExtraTreeRegressor                   0.02
 PassiveAggressiveRegressor           0.04
 LarsCV                               0.02
 LassoLarsCV                          0.02
 HuberRegressor                       0.02
 LassoCV                              0.09
 OrthogonalMatchingPursuitCV          0.01
 KNeighborsRegressor                  0.01
 ElasticNet                           0.01
 BayesianRidge                        0.04
 RidgeCV                              0.01
 Ridge                                0.01
 LassoLars                            0.01
 Lasso                                0.00
 LassoLarsIC                          0.02
 Lars                                 0.01
 LinearRegression                     0.01
 TransformedTargetRegressor           0.01
 SGDRegressor                         0.02
 PoissonRegressor                     0.00
 GammaRegressor                       0.02
 TweedieRegressor                     0.00
 OrthogonalMatchingPursuit            0.01
 RANSACRegressor                      0.06
 AdaBoostRegressor                    0.03
 ElasticNetCV                         0.07
 NuSVR                                0.02
 DummyRegressor                       0.01
 QuantileRegressor                    0.94
 SVR                                  0.03
 KernelRidge                          0.02
 LinearSVR                            0.01
 MLPRegressor                         0.36
 GaussianProcessRegressor             0.01  )

In [30]:
from lightgbm import LGBMRegressor

In [31]:
model = LGBMRegressor()

In [32]:
model.fit(X_train, y_train)

LGBMRegressor()

In [33]:
y_pred = model.predict(X_test)

In [34]:
from sklearn.metrics import r2_score, mean_squared_error

In [35]:
mse = mean_squared_error(y_test, y_pred, squared=False)
mse

47264.93623199264

In [36]:
testeo = pd.read_csv('../data/testeo.csv')

In [37]:
testeo.head()

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size
0,2020,SE,FT,Machine Learning Scientist,JP,0,JP,S
1,2020,MI,FT,Lead Data Analyst,US,100,US,L
2,2020,MI,FT,Data Analyst,US,100,US,L
3,2020,MI,FT,Machine Learning Engineer,CN,0,CN,M
4,2020,MI,FT,Product Data Analyst,IN,100,IN,L

In [38]:
testeo = testeo.drop(['remote_ratio', 'company_location', 'work_year'], axis=1)

In [39]:
testeo['job_title'] = testeo['job_title'].str.replace(r'.*Data.*', 'Data', regex=True)\
                                             .str.replace(r'.*Engineer.*', 'Engineer', regex=True)\
                                             .str.replace(r'.*Machine Learning.*', 'Machine Learning', regex=True)\
                                             .str.replace(r'.*ETL Developer.*', 'Data', regex=True)\
                                             .str.replace(r'.*AI Scientist.*', 'Other', regex=True)\
                                             .str.replace(r'.*3D Computer Vision Researcher.*', 'Other', regex=True)\
                                             .str.replace(r'.*Research Scientist.*', 'Other', regex=True)

In [40]:
dictio = {'Data':0 , 'Engineer':1, 'Machine Learning':2,'Other':3}
testeo.job_title=testeo.job_title.apply(lambda x: dictio[x])

In [41]:
le = LabelEncoder()
testeo['employee_residence'] = le.fit_transform(testeo['employee_residence'])

In [42]:
testeo = pd.get_dummies(testeo, columns=['experience_level','employment_type', 'company_size'], drop_first=True)

In [43]:
testeo.head()

,job_title,employee_residence,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_FT,employment_type_PT,company_size_M,company_size_S
0,2,17,0,0,1,1,0,0,1
1,0,25,0,1,0,1,0,0,0
2,0,25,0,1,0,1,0,0,0
3,1,4,0,1,0,1,0,1,0
4,0,14,0,1,0,1,0,0,0

In [44]:
y_pred = model.predict(testeo)
muestra2=pd.read_csv('../data/muestra.csv')
muestra2['salary_in_usd']= y_pred
muestra2.to_csv('salary_comp.csv',index=False)